*{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    box-sizing: border-box;
    transition: 0.25s ease;
}
body{
    background-color: blue;
}
form{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
}
form *{
    width: fit-content;
    margin: 3px auto;
}
input[type="submit"]{
    background-color: blue;
    color: white;
    border-color: rgb(0, 0, 200);
    font-weight: bold;
}
input[type="submit"]:hover{
    scale: 1.1;
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}
.d-none{
    display: none !important;
}
.btn{
    background-color: white;
    width: 98px;
    height: 98px;
    margin: 1px;
}
.btn:hover{
    background-color: darkgray;
    cursor: pointer;
}
.btn:active{
    background-color: gray;
}
.morpion{
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
.me{
    background-color: blue !important;
}
.me:hover{
    background-color: darkblue !important;
}
.you{
    background-color: red !important;
}
.you:hover{
    background-color: darkred !important;
}
a{
    color: black;
    display: block;
    width: fit-content;
    margin: 0 auto;
    /* text-align: center; */
}
p{
    text-align: center;
}
.turn{
    width: 300px;
    text-align: center;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.room{
    margin: 10px auto;
    background-color: white;
    border: none;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}
.room *{
    margin: 0;
}

button{
    border-color: rgba(0, 0, 200);
    background-color: blue;
    color: white;
    font-weight: bold;
    display: flex !important;
    margin: 10px auto 0 auto !important;
}
button:hover{
    scale: 1.1;
    cursor: pointer;
}
.ou{
    font-weight: bold;
}