*{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    box-sizing: border-box;
    transition: 0.25s ease;
    font-family: Ubuntu;
}
body{
    background-color: blue;
}
form{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
}
form *{
    width: fit-content;
    margin: 3px auto;
}
input[type="submit"]{
    background-color: blue;
    color: white;
    border-color: rgb(0, 0, 200);
    font-weight: bold;
}
input[type="submit"]:hover{
    scale: 1.1;
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}
.d-none{
    display: none !important;
}
.btn{
    background-color: white;
    width: 98px;
    height: 98px;
    margin: 1px;
}
.btn:hover{
    background-color: darkgray;
    cursor: pointer;
}
.btn:active{
    background-color: gray;
}
.morpion{
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
.me{
    background-color: blue !important;
}
.me:hover{
    background-color: darkblue !important;
}
.you{
    background-color: red !important;
}
.you:hover{
    background-color: darkred !important;
}
a{
    color: black;
    display: block;
    width: fit-content;
    margin: 0 auto;
    /* text-align: center; */
}
p{
    text-align: center;
}
.turn{
    width: 300px;
    text-align: center;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.room{
    margin: 10px auto;
    background-color: white;
    border: none;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}
.room *{
    margin: 0;
}

button{
    border-color: rgba(0, 0, 200);
    background-color: blue;
    color: white;
    font-weight: bold;
    display: flex !important;
    margin: 10px auto 0 auto !important;
}
button:hover{
    scale: 1.1;
    cursor: pointer;
}
.ou{
    font-weight: bold;
}
/* .music-control-circle{
    background: white;
    border-radius: 50%;
    display: inline-block;
    padding: 10px;
    margin: 0;
    width: 40px;
} */
/* .music-control{
    background: gray;
    border-radius: 25px;
    display: inline-block;
    width: 75px;
    padding: 4px;
} */
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 31px;
    margin: 0 10px;
    border: 3px solid darkblue;
    border-radius: 34px;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .25s ease;
    border-radius: 34px;
}
.switch input{visibility: hidden;}

.slider:before{
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0;
    bottom: 0;
    background-color: white;
    transition: .25s ease;
    border-radius: 50%;
}
input:checked + .slider{
    background-color: rgb(0, 0, 200);
}
input:checked + .slider:before{
    /* transform: translateX(20px); */
    left: 29px;
    right: 0;
}
.music-control{
    position: absolute;
    right: 0;
    top: 5px;
}
.checkbox-title{
    margin: 0 auto;
    width: fit-content;
    display: block;
}
.navbar{
    position: absolute;
    cursor: default;
}
.navbar:hover{
    transform: translateX(100px);
    transition: .25s ease;
}
.subnav{
    position: absolute;
    left: -100px;
}
.icon{
    position: flex;
    left: 0;
}